/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFA2BB;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pacifico', cursive;
  margin: 0;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

input {
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #D14469;
}

.modal-box {
  background-color: #FFF;
  border: 2px solid #E35B7B;
  box-shadow: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #E35B7B;
  border-radius: 4px;
  font-family: 'Merriweather', serif;
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.inventory-box {
  width: 800px;
  padding: 20px;
  background-color: #FFF;
  border: 1px solid #E35B7B;
}

.inventory-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #E35B7B;
}

.inventory-item:last-child {
  border-bottom: none;
}
